#
# NUBO 서버쪽 설정 파일
#

# 백엔드 서버
GOAPI_PORT=3006
GOAPI_DOMAIN=https://nubohub.org
GOAPI_TITLE=NUBO
GOAPI_VERSION=2.0.0

GOAPI_PROFILE_SIZE=256
GOAPI_CONTENT_INSERT_SIZE=640
GOAPI_THUMBNAIL_SIZE=512
GOAPI_FULL_SIZE=2048
GOAPI_FILE_SIZE_LIMIT=104857600

# JWT 설정
JWT_SECRET_KEY=#jwtsecret#
JWT_ACCESS_HOURS=2
JWT_REFRESH_DAYS=7

# 데이터베이스 세팅 (DB_UNIX_SOCKET 경로를 모를 경우 공란 유지)
DB_HOST=#dbhost#
DB_USER=#dbuser#
DB_PASS=#dbpass#
DB_NAME=#dbname#
DB_TABLE_PREFIX=#dbprefix#
DB_UNIX_SOCKET=#dbsock#
DB_MAX_IDLE=#dbmaxidle#
DB_MAX_OPEN=#dbmaxopen#

# 관리자 아이디(이메일) 및 비밀번호
ADMIN_ID=#adminid#
ADMIN_PW=#adminpw#

# NUXT 클라이언트에 노출할 변수들
NUXT_PUBLIC_GOAPI_PORT=${GOAPI_PORT}
NUXT_PUBLIC_VERSION=${GOAPI_VERSION}
NUXT_PUBLIC_DOMAIN=${GOAPI_DOMAIN}
NUXT_PUBLIC_TITLE=${GOAPI_TITLE}
NUXT_PUBLIC_PROFILE_SIZE=${GOAPI_PROFILE_SIZE}
NUXT_PUBLIC_CONTENT_INSERT_SIZE=${GOAPI_CONTENT_INSERT_SIZE}
NUXT_PUBLIC_THUMBNAIL_SIZE=${GOAPI_THUMBNAIL_SIZE}
NUXT_PUBLIC_FULL_SIZE=${GOAPI_FULL_SIZE}
NUXT_PUBLIC_FILE_SIZE_LIMIT=${GOAPI_FILE_SIZE_LIMIT}
NUXT_PUBLIC_ACCESS_HOURS=${JWT_ACCESS_HOURS}
NUXT_PUBLIC_REFRESH_DAYS=${JWT_REFRESH_DAYS}
NUXT_PUBLIC_ADMIN_ID=${ADMIN_ID}

# Resend로 메일 발송에 필요한 API Key
# 주의) localhost 에서는 동작하지 않으며, 실제 도메인 인증을 받은 서버에서만 동작합니다
# 참고) Resend API Key가 지정되어 있으면 Gmail 메일 대신 Resend를 사용합니다
RESEND_API_KEY=

# 구글 앱비밀번호 for GMAIL 발송
# 참고) https://velog.io/@seul06/nodemailer
GMAIL_ID=
GMAIL_APP_PASSWORD=

# 구글 OAuth 클라이언트 (없다면 공란 유지)
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_SECRET=

# 네이버 OAuth 클라이언트 (없다면 공란 유지)
OAUTH_NAVER_CLIENT_ID=
OAUTH_NAVER_SECRET=

# 카카오 OAuth 클라이언트 (없다면 공란 유지)
OAUTH_KAKAO_CLIENT_ID=
OAUTH_KAKAO_SECRET=

# OpenAI API Key (없다면 공란 유지)
OPENAI_API_KEY=