[Unit]
Description=NUBO application services
Wants=nubo-goapi.service nubo-web.service
After=nubo-goapi.service nubo-web.service

[Install]
WantedBy=multi-user.target
